#header{
  height: 40px;
  background: #CCCCCC;
  grid-column: 1/4;
  grid-row: 1;
}

#main-body{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 10px;
  background: #f5f5f5;
}

#nav-bar{
  width: 100%;
} 
.nav{
  display: flex;
  justify-content: space-between;
}
.nav-item{
  padding-top: 10px;
  text-align: center;
  width: 100px;
}

ul li{
  display: inline;
}
#submitButton{
  width: 130px;
}

.map-container{  
  background: #f5f5f5;
  width: 100%;

  table-layout: fixed;
}
.map-controls{
  grid-column: 1;
  grid-row: 2;
  width: 25vw;
  margin: 0 0 0 0;
  padding-left: 0;
  padding-right: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.map-controls li{
  grid-column: 2;
}

#map{
  /* visibility: hidden; */
  grid-column: 2/4;
  grid-row: 2;
  width: 75vw;
  height: 95vh;
}
#footer{
  background: #CCCCCC;
  height: 5vh;
  grid-column: 1/4;
  grid-row: 3;
}

@media only screen and (max-width: 525px) and (max-height: 900px) {
  #submitButton{
    width: 70px;
    font-size: small;
  }
  #map{
    height: 85vh;
  }
}