#header{
  height: 40px;
  background: #CCCCCC;
}
#nav-bar{
  width: 100%;
} 
.nav{
  display: flex;
  justify-content: space-between;
}
.nav-item{
  padding-left: 10px;
  margin-top: 2%;
  text-align: center;
  width: 100px;
}

ul li{
  display: inline;
}
#submitButton{
  width: 130px;
}

.map-container{  
  background: #f5f5f5;
  width: 100%;
  display: table;
  table-layout: fixed;
}
.map-controls{
  width: 25vw;
  margin-left: 0;
  padding-left: 0;
  padding-right: 0;
  display: grid;
}
.map-controls li{
  margin: 0 auto 0 auto;
}

#map{
  /* visibility: hidden; */
  display: table-cell;
  width: 75vw;
  height: 90vh;
}
#footer{
  background: #CCCCCC;
  height: 5vh;
}

@media only screen and (max-width: 525px) and (max-height: 900px) {
  #submitButton{
    width: 70px;
  }
  #map{
    height: 85vh;
  }
}